h1 {
    margin-top: 15%;
}

img {
    height: 150px;
    width: 150px;
}

#alert > p {
    color: red;
}

.bottom-border > h2{
    border-bottom: 1px solid gray;
}

.flex-head-img {
    display: flex;
    align-items: center;
}

